body{
    /* background: linear-gradient(to right, #008080, #4b0082); */
    background-image: linear-gradient(135deg, #FFC3A0, #FFAFBD); 
}
/* body:hover{
    background-image: linear-gradient(135deg, #FFC3A0, #FFAFBD); 
} */
.cart-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.cart-button:hover {
    background-color:red;
}
h1{
    text-align: center;
    font-size: 25px;
}

table{
    border: 3px solid black;
}