*{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
   
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  /* background: linear-gradient(90deg, #008080, #4b0082); */
  background-image: linear-gradient(90deg, #FFC3A0, #FFAFBD); 
}
/* body:hover{
  background-image: linear-gradient(90deg, #FFC3A0, #FFAFBD); 
} */
h1 {
  text-align: center;
  color: red;
}
h1:hover{
  color: black;
}
.category{
  height:35px;
  width: 100px;
  border-radius: 3px;
  color:white;
  background-color:black;
}
.category:hover{
  background-color: red;
}
.cart{
  height:35px;
  width: 100px;
  border-radius: 3px;
  color:white;
  background-color:black;
}
.cart:hover{
  background-color: red;
}
.addcart{
  height:35px;
  width: 100px;
  border-radius: 3px;
  color:white;
  background-color:black;
  border-radius: 10px;
}
.addcart:hover{
  background-color: red;
}
.quantity{
  background-color: black;
  color: white;
}
.quantity:hover{
  background-color: red;
}
select {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
}

#outerdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#innerdiv {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#innerdiv:hover{
  transform: translateY(-10);
}

h3 a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f2f2f2;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: black;
  color: white;
}

.pagination button:hover {
  background-color:red;
}

.pagination button:disabled {
  opacity: .3;
  cursor: not-allowed;
} 
